body{
font:15px/1.5 Arial, Helvetica, sans-serif;
padding:0;
margin:0;
background-color:#f4f4f4;
}

/*Global*/

.relative {
	position: absolute;
	opacity: 0.5;
	z-index: 1;
}

.absolute {
	position: absolute;
	z-index: 2;
}

.container{
	width:80%;
	margin:auto;
	overflow:hidden;
	opacity: 1;
}

ul{
	margin:0;
	padding:0;
}

/*Header**/
header{
	background:#35424a;
	color:#FFF8DC;
	padding-top:30px;
	min-height:70px;
	border-bottom:#e8491d 3px solid;
}

#branding{
	margin-left:50px;
	

}

header a{
	color:#FFF8DC;
	text-decoration:none;
	text-transform: uppercase;
	font-size:16px;
}

header li{
	float:left;
	display:inline;
	padding:0 20px 0 20px;
}

header #branding{
	float:left;
}

header #branding h1{
	margin:0
 
}

header nav{
	float:right;
	margin-top:10px;
}

header a:hover{
	color:#cccccc;
	font-weight:bold;
}



/*Showcase*/

#showcase{
	min-height:200px;
	background:url("../img/leather5.jpg") no-repeat;
	background-size: 100% 100%;
	text-align:right;
	font-size: 20px;
	color:#FFF8DC;
	text-shadow: #35424a 1px 1px
}

#showcase p{
	margin-top:50px;
}
	
#newsletter{
	padding:15px;
	color:#fff8dc;
	background-color:#35424a;
}

#newsletter h1{
	float:left;
}

#newsletter form{
	float:right;
	margin-top:20px;
}

#newsletter input [type='email']{
	padding:4px;
	height:25px;
	width:250px;
}
	
	
	